.user-form {
  outline: 2px solid green;
}


.user-form {
  width: 280px;
  margin: 0 auto;
  padding: 50px 20px;

  &__name-promo {
    text-align: center;
  }

  &__name-title {
    display: block;
    margin: 15px;
  }

  &__name-input {
    padding: 15px;
    width: 250px;
    margin-bottom: 20px;
  }


  &__achievments-promo {
    text-align: center;
    margin: 30px auto;;
  }

  &__achievments-input {
    display: none;
  }

  &__achievments-title {
    display: block;
    padding: 25px;
  }


  &__contacts-block {
    padding-top: 50px;
    margin-bottom: 50px;
  }

  &__contacts-title {
    display: block;
    margin: 15px;
  }

  &__contacts-input {
    padding: 15px;
    width: 250px;
    margin-bottom: 20px;
  }


  &__application-block {
    margin-bottom: 50px;
  }

  &__application-promo {
    text-align: center;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  &__application-title {
    display: block;
  }


  &__review-block {
    margin-bottom: 40px;
  }

  &__review-promo {
    text-align: center;
  }

  &__review-textarea {
    width: 250px;
    padding: 15px;
  }


  &__submit {
    width: 100%;
    line-height: 60px;
    margin-bottom: 30px;
  }

  &__warning {
    text-align: center;
  }
}


@media @tablet-widths {
  
}
