.user-form {
  width: 320px;


  &__name-block {
    padding: 0 20px;
    padding-bottom: 27px;
  }

  &__promo {
    padding: 0 20px;
    padding-top: 30px;
    padding-bottom: 20px;

    color: #283645;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  &__promo-add {
    display: none;
  }

  &__name-title {
    display: block;
    padding-left: 23px;
    padding-bottom: 6px;

    color: #d22856;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__name-input {
    padding-left: 21px;
    padding-right: 8px;
    padding-top: 15px;
    padding-bottom: 14px;

    width: 248px;
    margin-bottom: 15px;

    color: #283645;
    font-size: 18px;
    line-height: 30px;

    border: 2px solid #e5e5e5;
    outline: none;
  }

  &__name-item-wrapper:nth-of-type(2) {
    margin-bottom: 4px;
  }

  &__name-input::placeholder {
    color: #283645;
  }

  &__name-input:focus::placeholder {
    color: transparent;
  }


  &__achievments-block {
    padding-top: 35px;
    padding-bottom: 6px;

    background: #f2f2f2;
  }

  &__achievments-promo {
    width: 220px;
    margin: 0 auto;
    margin-bottom: 40px;

    color: #d22856;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  &__achievments-input {
    display: none;
  }

  &__achievments-title {
    display: block;
    margin-bottom: 43px;
    margin-left: 20px;

    color: #283645;
    font-size: 18px;
    line-height: 39px;
  }

  &__achievments-title::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;

    margin-right: 31px;

    background-color: white;

    border: 2px solid #e5e5e5;
  }

  &__achievments-input:checked + &__achievments-title::before {
    background: url(../img/form-tick-icon.png) 50% 50% no-repeat white;
  }


  &__contacts-block {
    padding: 0 20px;
    padding-top: 28px;
    padding-bottom: 39px;
  }

  &__contacts-header {
    display: none;
  }

  &__contacts-title {
    display: block;
    padding-left: 23px;
    padding-bottom: 6px;


    color: #d22856;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__contacts-input {
    padding-left: 21px;
    padding-right: 8px;
    padding-top: 15px;
    padding-bottom: 14px;

    width: 248px;
    margin-bottom: 15px;

    color: #283645;
    font-size: 18px;
    line-height: 30px;

    border: 2px solid #e5e5e5;
    outline: none;
  }

  &__contacts-input::placeholder {
    color: #283645;
  }

  &__contacts-input:focus::placeholder {
    color: transparent;
  }


  &__application-block {
    padding: 0 20px;
    padding-top: 36px;
    padding-bottom: 6px;

    background: #f2f2f2;
  }

  &__application-promo {
    width: 220px;
    margin: 0 auto;
    margin-bottom: 35px;

    color: #d22856;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  &__application-input {
    display: none;
  }

  &__application-title {
    display: block;
    margin-bottom: 36px;

    color: #283645;
    font-size: 18px;
    line-height: 39px;
  }

  &__application-title::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 35px;
    height: 35px;

    margin-right: 33px;
    margin-left: 2px;

    background-color: white;

    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 50%;
  }

  &__application-input:checked + &__application-title::before {
    height: 35px;
    width: 35px;

    background-color: #d22856;
    border: 10px solid white;
    box-shadow: 0 0 0 2px #e5e5e5;
  }


  &__review-block {
    padding: 0 20px;
    padding-top: 37px;
    padding-bottom: 43px;
  }

  &__review-promo {
    margin-bottom: 11px;

    color: #d22856;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__review-textarea {
    width: 239px;
    height: 167px;
    padding: 15px 19px;

    font-family: "Open Sans", Arial, sans-serif;
    color: #283645;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid #e5e5e5;

    outline: none;
  }

  &__review-textarea::placeholder {
    color: #283645;
  }

  &__review-textarea:focus::placeholder {
    color: transparent;
  }


  &__submit {
    width: 280px;
    margin-left: 20px;

    margin-bottom: 34px;
    padding: 17px;

    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;

    background-color: #2aab6d;
    border: none;
    outline: none;
    border-radius: 3px;
  }

  &__warning {
    margin-bottom: 50px;

    color: #283645;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__warning-red {
    color: #d22856;
  }

  &__warning-hidden {
    display: none;
  }
}


@media @tablet-widths {
  .user-form {
    display: flex;
    flex-direction: column;
    .container;


    &__promo {
      order: 0;

      width: 500px;
      margin: 0 auto;
      padding-top: 93px;
      padding-bottom: 72px;

      color: #283645;
      font-size: 18px;
      line-height: 30px;
    }

    &__promo-add {
      display: inline;
    }

    &__name-block {
     order: 1;
     padding: 0;
    }

    &__name-wrapper {
      padding-bottom: 12px;
    }

    &__name-item-wrapper {
      display: flex;
      align-items: baseline;
    }

    &__name-title {
      padding: 0;
      padding-right: 21px;
    }

    &__name-input {
      width: 100%;
      margin-bottom: 52px;
    }


    &__achievments-block {
      order: 4;
      position: relative;

      margin-bottom: 64px;

      padding: 0;
      padding-top: 53px;
      padding-left: 40px;
      padding-bottom: 3px;

      text-align: left;

      background: none;
      border: 2px solid #e5e5e5;
      border-radius: 2px;
    }

    &__achievments-promo {
      display: block;
      position: absolute;
      top: -15px;
      left: 50%;
      width: 438px;

      transform: translate(-50%);

      color: #d22856;
      font-size: 14px;
      line-height: 30px;
      text-transform: uppercase;

      background-color: white;
    }

    &__achievments-title {
      margin-bottom: 44px;
    }

    &__achievments-title::before {
      margin-right: 20px;
    }


    &__contacts-block {
      order: 3;
      position: relative;

      margin: 0;
      margin-bottom: 66px;
      padding: 0;
      padding-top: 46px;
      padding-left: 60px;
      padding-bottom: 0;

      text-align: center;

      border: 2px solid #e5e5e5;
      border-radius: 2px;
    }

    &__contacts-header {
      display: block;
      position: absolute;
      top: -15px;
      left: 50%;
      padding: 0 30px;

      transform: translate(-50%);

      color: #d22856;
      font-size: 14px;
      line-height: 30px;
      text-transform: uppercase;

      background-color: white;
    }

    &__contacts-item-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__contacts-title {
      order: 2;
      align-self: flex-start;
      padding: 0;
      margin: 0;
      margin-left: 18px;
      margin-bottom: 31px;
    }

    &__contacts-item-wrapper:last-of-type {
      margin-bottom: -5px;
    }

    &__contacts-title-hidden,
    &__contacts-tablet-hidden {
      display: none;
    }

    &__contacts-input {
      order: 1;
      width: 467px;
      margin: 0;
      margin-bottom: 10px;
    }

    &__contacts-input[type="tel"] {
      background: url(../img/icon-phone.png) 95% 50% no-repeat;
    }

    &__contacts-input[type="email"] {
      background: url(../img/icon-mail.png) 95% 50% no-repeat;
    }


    &__application-block {
      order: 2;
      position: relative;

      margin-bottom: 65px;
      padding: 0;
      padding-left: 60px;
      padding-top: 54px;
      padding-bottom: 19px;

      background-color: transparent;
      border: 2px solid #e5e5e5;
      border-radius: 2px;
    }

    &__application-promo {
      position: absolute;
      top: -9px;
      left: 50%;
      transform: translate(-50%);

      width: 370px;
      margin: 0;

      background-color: white;
    }

    &__application-title:before {
      margin-right: 21px;
    }


    &__review-block {
      order: 5;
      position: relative;

      margin-bottom: 67px;

      padding: 0;
      padding-top: 45px;
      padding-bottom: 47px;

      text-align: center;

      background-color: transparent;
      border: 2px solid #e5e5e5;
      border-radius: 2px;
    }

    &__review-promo {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translate(-50%);

      padding: 0 38px;
      margin: 0;

      background-color: white;
    }

    &__review-textarea {
      width: 458px;
      height: 161px;
    }


    &__submit-block {
      order: 6;
    }

    &__submit {
      width: 300px;
      margin: 0;
    }

    &__warning {
      float: right;
      width: 200px;
      padding: 17px 0;

      text-align: right;
    }
  }
}




@media @desktop-widths {
  .user-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .container;
    padding: 0;


    &__promo {
      width: 760px;
      margin: 0 auto;
    }

    &__promo-add {
      display: inline;
    }


    &__name-block {
      padding: 0;
      margin-top: 12px;
      width: 436px;
    }

    &__name-item-wrapper:last-of-type &__name-input {
      margin-bottom: 0;
    }


    &__application-block {
      margin: 0;
      margin-top: 5px;
      padding: 0;
      padding-top: 56px;
      padding-left: 75px;
      padding-right: 20px;
      padding-bottom: 15px;

      width: 335px;

    }

    &__application-promo {
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 0;
    }


    &__contacts-block {
      display: flex;
      justify-content: space-between;

      width: 816px;
      margin: 0;
      margin-bottom: 64px;
      margin-top: 50px;

      padding: 59px;
      padding-top: 42px;
      padding-bottom: 13px;
    }

    &__contacts-item-wrapper:last-of-type {
      margin-bottom: 0;
    }

    &__contacts-title {
      margin: 0;
      margin-top: 10px;
      margin-left: 20px;
    }

    &__contacts-title-hidden {
      display: none;
    }

    &__contacts-input {
      width: 340px;
      margin: 0;
    }



    &__achievments-block {
      width: auto;
      margin: 0;
      margin-bottom: 65px;

      padding-right: 0;
      padding-bottom: 12px;
      padding-left: 59px;
    }

    &__achievments-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      width: 100%;
    }

    &__achievments-title {
      padding: 0;
      margin: 0;
      margin-bottom: 43px;

      min-width: 255px;
    }

    &__achievments-title:nth-of-type(1) {
     order: 1;
    }

    &__achievments-title:nth-of-type(2) {
      order: 4;
    }

    &__achievments-title:nth-of-type(3) {
     order: 2;
    }

    &__achievments-title:nth-of-type(4) {
     order: 5;
    }

    &__achievments-title:nth-of-type(5) {
     order: 3;
    }

    &__achievments-title:nth-of-type(6) {
     order: 6;
    }




    &__review-block {
      width: 816px;
      padding-top: 42px;
      padding-left: 58px;
      padding-right: 62px;
      padding-bottom: 39px;

      margin-bottom: 65px;

      text-align: center;
    }

    &__review-textarea {
      width: 778px;
      height: 94px;
    }

    &__submit-block {
      width: 100%;
    }

    &__submit {
      width: 300px;
    }

    &__warning {
      width: auto;
      text-align: right;
      padding: 20px 0;
    }

    &__warning-hidden {
      display: inline;
      color: #283645;
    }
  }
}
