.photo-form {
  .clearfix;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  padding-top: 20px;

  background: #f2f2f2;

  &__photo-wrapper {
  height: 374px;
  margin: 0 auto;
  margin-bottom: 40px;
  }

  &__photo {
    width: 280px;
    height: 374px;
  }

  &__settings-block {
    padding: 0 20px;
    padding-bottom: 25px;
    margin-bottom: 8px;

    text-align: center;

    border-bottom: 1px solid #e5e5e5;
  }

  &__settings-input {
    display: none;
  }

  &__settings-choice {
    padding: 0 20px;
  }

  &__options-wrapper {
    display: flex;
    justify-content: space-around;

    padding-bottom: 22px;
  }

  &__settings-item {
    display: block;
    width: 50px;
    height: 50px;

    cursor: pointer;
  }

  &__settings-item--option1 {
    background: url("../img/icon-editor-crop.svg") 50% 50% no-repeat;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__settings-item--option2 {
    background: url("../img/icon-editor-fill.svg") 50% 50% no-repeat;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__settings-item--option3 {
    background: url("../img/icon-editor-contrast.svg") 50% 50% no-repeat;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }


  &__item-range {
    display: none;
    width: 240px;

    cursor: pointer;
  }

  #photo-setting1:checked ~ &__settings-choice #setting-crop {
    display: block;
  }

  #photo-setting2:checked ~ &__settings-choice #setting-fill {
    display: block;
  }

  #photo-setting3:checked ~ &__settings-choice #setting-contrast {
    display: block;
  }



  #photo-setting1:checked ~ &__settings-choice &__settings-item--option1 {
    background-image: url("../img/icon-editor-crop-active.svg");
    opacity: 1;
  }

  #photo-setting2:checked ~ &__settings-choice &__settings-item--option2 {
    background-image: url("../img/icon-editor-fill-active.svg");
    opacity: 1;
  }

  #photo-setting3:checked ~ &__settings-choice &__settings-item--option3 {
    background-image: url("../img/icon-editor-contrast-active.svg");
    opacity: 1;
  }



  &__buttons-block {
    padding: 29px 20px;
  }

  &__btn {
    width: 280px;
    height: 55px;
    margin-bottom: 12px;

    color: #d22856;
    font-size: 18px;
    font-weight: 700;
    line-height: 1em;

    background: transparent;
    border: 3px solid #d22856;
    border-radius: 50px;
    outline: none;

    cursor: pointer;
  }

  &__btn:hover {
    color: white;
    background-color: #d22856;
  }

  &__btn:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &__btn--cancel {
    color: #e3e4e4;
    border-color: #dddfe0;
  }

  &__btn--cancel:hover {
    color: #b5b9be;
    border-color: #b5b9be;
    background-color: transparent;
  }

  &__btn--cancel:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #b5b9be;
  }
}


@media @tablet-widths {
  .photo-form {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;

    width: 620px;
    height: 410px;

    margin: 0 auto;
    padding: 0 40px;
    padding-top: 43px;
    padding-bottom: 56px;

    &__photo-wrapper {
      width: 300px;
      height: 400px;
      margin: 0;
      margin-top: 14px;
    }

    &__photo {
      width: 300px;
      height: 400px;
    }


    &__settings-block {
      width: 275px;
      margin: 0;
      margin-left: auto;
      margin-right: 16px;
      padding: 0;

      border-bottom: none;
    }

    &__settings-choice {
      display: flex;
      justify-content: flex-start;
    }

    &__options-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      height: 213px;
      margin: 0;
      padding: 0;
    }

    &__settings-item {
      display: block;
      margin-right: auto;
      height: 71px;

      align-self: center;

      background-position: left;
      opacity: 1;
      border-bottom: 1px solid #dddfe0;


      &--option1 {
        background-image: url("../img/icon-editor-crop-active.svg");
        background-size: 25px auto;
      }

      &--option2 {
        background-image: url("../img/icon-editor-fill-active.svg");
        background-size: 25px auto;
      }

      &--option3 {
        background-image: url("../img/icon-editor-contrast-active.svg");
        background-size: 16px auto;
      }
    }


    &__ranges-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      height: 213px;

    }

    &__ranges-item-inner {
      height: 71px;
      border-bottom: 1px solid #dddfe0;
      padding-right: 10px;
    }

    &__item-range {
      display: inline;
      width: 203px;
      margin: 0;
      margin-top: 23px;
      padding: 0;

      cursor: pointer;


    }


    &__buttons-block {
      width: 275px;
      margin: 0;
      margin-left: auto;
      margin-top: auto;
      padding: 0;

      text-align: left;
    }

    &__btn {
      width: 260px;
      margin-bottom: 24px;
    }

    &__btn--cancel {
      margin: 0;
      margin-bottom: -4px;
    }
  }
}


@media @desktop-widths {
  .photo-form {
    width: 799px;
    height: 414px;

    margin: 0 auto;
    margin-bottom: 96px;
    padding-left: 80px;
    padding-right: 61px;
    padding-top: 43px;

    &__photo-wrapper {
      width: 300px;
      height: 400px;
    }

    &__settings-block {
      width: 414px;
      height: 200px;
    }

    &__settings-item {
      height: 71px;

      &--option1 {
        background-image: url("../img/icon-editor-crop-active.svg");
        background-size: 45px auto;
      }

      &--option2 {
        background-image: url("../img/icon-editor-fill-active.svg");
        background-size: 45px auto;
      }

      &--option3 {
        background-image: url("../img/icon-editor-contrast-active.svg");
        background-size: 32px auto;
        background-position: 5px 50%;
      }
    }

    &__ranges-item-inner {
      padding-right: 30px;
    }

    &__item-range {
      width: 287px;
      margin-left: 45px;
    }

    &__buttons-block {
      display: flex;
      justify-content: space-between;

      width: 410px;
    }

    &__btn {
      width: 184px;
      margin: 0;
    }
  }
}
