.photo-blog-wrapper {
  padding: 0 20px;
  margin: 0 auto;

  &__header {
    width: 250px;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 50px;

    color: #283645;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  &__footer {
    margin: 0;
    padding: 50px 0;
    padding-top: 22px;
    padding-bottom: 43px;

    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  &__footer span {
    display: block;
    width: 115px;
    margin: 0 auto;

    text-align: center;
  }
}

.post-main {
  position: relative;
  margin-bottom: 20px;

  text-align: left;

  background: #f2f2f2;

  &__image-wrapper {
    width: 320px;
    height: 137px;
    margin-left: -20px;
  }

  &__message {
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 17px;

    color: #283645;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }

  &__user-name {
    margin: 0;
    padding: 0;

    font-weight: 700;
  }

  &__message-time {
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
  }

  &__message-text {
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
  }

  &__promo {
    position: absolute;
    top: 0;
    right: 0;

    width: 140px;
    height: 36px;

    color: white;
    font-size: 12px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    background: #d22856;
  }
}

.user-post {
  width: 280px;
  margin-bottom: 20px;

  text-align: left;

  background: #f2f2f2;

  &__image-wrapper {
    width: 280;
    height: 180px;
  }

  &__rating-btn {
    margin: 0;
    margin-left: 19px;
    margin-bottom: 22px;
    padding: 0;
    padding-left: 31px;

    cursor: pointer;

    color: #d22856;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;

    background: url(../img/icon-heart.svg) 0% 50% no-repeat transparent;
    border: none;
    outline: none;
  }

  &__rating-btn--main {
    margin-bottom: 22px;
  }
}

.user-message {
  padding: 0;
  margin: 0;

  padding-left: 19px;
  padding-right: 19px;
  padding-top: 17px;

  color: #283645;
  font-size: 14px;
  line-height: 24px;


  &__user-name {
    margin: 0;
    padding: 0;
    margin-bottom: 1px;

    font-weight: 700;
  }

  &__message-time {
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
  }

  &__message-text {
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
  }
}


@media @tablet-widths {
  .photo-blog-wrapper {
    padding: 0;
    .container;
    margin: 0 auto;

    &__header {
      width: 440px;
      margin: 0 auto;
      margin-bottom: 80px;
    }

    &__footer {
      width: 440px;
      margin: 65px auto;
    }
  }


  .post-main {
    width: 620px;
    position: relative;
    margin-bottom: 40px;

    &__image-wrapper {
      width: 700px;
      height: 510px;
      margin-left: -40px;
    }

    &__message {
      padding: 20px;
    }
  }


  .user-post {
    display: inline-block;
    vertical-align: top;

    padding: 0;
    margin-right: 16px;
    margin-bottom: 15px;
    width: 300px;

    text-align: left;

    &__image-wrapper {
      height: 300px;
      width: 100%;
    }

    &__rating-btn {
      margin: 24px;
      margin-top: 0;
    }

    &__rating-btn--main {
      position: absolute;
      right: 0;
      top: 555px;
    }
  }

  .user-post:nth-of-type(2n+1) {
    margin-right: 0;
  }


  .user-message {
    padding: 24px;
    padding-bottom: 0;
    min-height: 70px;
  }
}


@media @desktop-widths {
  .photo-blog-wrapper {
    padding: 0;
    margin: 0 auto;
    width: 940px;

    &__header {
      width: 575px;
      margin: 95px auto;
    }

    &__footer {
      width: 275px;
      margin: 60px auto;
    }
  }


  .post-main {
    width: 940px;
    position: relative;
    margin-bottom: 40px;

    &__image-wrapper {
      width: 1200px;
      height: 506px;
      margin-left: -130px;
    }

    &__message {
      padding: 20px;
    }
  }


  .user-post {
    display: inline-block;
    vertical-align: top;

    margin-right: 16px;
    margin-bottom: 60px;
    width: 300px;

    text-align: left;

    &__image-wrapper {
      height: 400px;
      width: 100%;
    }

    &__rating-btn {
      margin: 24px;
      margin-top: 0;
    }

    &__rating-btn--main {
      position: absolute;
      right: 0;
      top: 535px;
    }
  }

  .user-post:nth-of-type(2n+1) {
    margin-right: 16px;
  }

  .user-post:nth-of-type(3n+1) {
    margin-right: 0;
  }


  .user-message {
    padding: 24px;
    padding-bottom: 15px;
    min-height: 80px;
  }
}
