.page-footer {
  width: 280px;
  margin: 0 auto;
  text-align: center;


  &--index {
    display: none;
  }

  &__developer-info {
    width: 150px;
    margin: 0 auto;

    line-height: 51px;
    text-align: left;
  }

  &__developer-ref {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 34px;
    margin-left: 14px;

    font-size: 0;
    line-height: 0;
    text-decoration: none;

    background: url(../../img/logo-htmlacademy.svg) 50% 50% no-repeat;
  }
}


.glasses-logo {
  margin-bottom: 40px;
}

.glasses-logo__ref {
  line-height: 1em;

  color: black;
  font-size: 50px;
  text-transform: uppercase;
  text-decoration: none;
}

.social-block {
  margin: 0 auto;
  margin-bottom: 39px;
}

.social-block-item {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 45px;
  margin-right: 12px;

  font-size: 0;
  line-height: 0;

  border: 3px solid #e9ebec;
  border-radius: 50%;


  &--twitter {
    background: url(../../img/icon-twitter.svg) 50% 50% no-repeat;
  }

  &--facebook {
    background: url(../../img/icon-facebook.svg) 50% 50% no-repeat;
  }

  &--youtube {
    background: url(../../img/icon-youtube.svg) 50% 50% no-repeat;
  }
}

.social-block-item:last-of-type {
  margin-right: 0;
}


@media @tablet-widths {
  .page-footer {
    width: 620px;
    margin-top: 60px;

    &--index {
      display: block;
      }

    &__developer-info {
      float: right;

      text-align: right;
    }
  }

  .glasses-logo {
    float: left;
    width: 150px;

    text-align: left;
  }

  .social-block {
    display: inline-block;
    vertical-align: top;
  }
}


@media @desktop-widths {
  .page-footer {
    width: 940px;
    margin: 72px auto;
  }
}
