.prices {
  outline: 2px solid green;
}



.prices {
  overflow: hidden;


  &__table {
    width: 900px;
    margin-left: -280px;
  }

  &__table-header {
    text-align: center;
    line-height: 30px;
  }

  &__table-header-bold {
    display: block;
  }

  &__table-item {
    padding: 10px;
    border: 1px solid gray;
  }
}
