.promo-block {
  padding-top: 16px;
  min-height: 700px;

  text-align: center;


  &__header {
    width: 205px;
    margin: 0 auto;
    margin-bottom: 65px;
  }

  &__header-text {
    color: #283645;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.2em;
    text-align: center;
  }

  &__header-text:first-of-type {
    margin-bottom: 30px;
  }

  &__description {
    position: relative;
    padding-top: 51px;
    padding-bottom: 286px;

    background: url(../img/iphone-screen-mobile.png) 50% 110% no-repeat #f2f2f2;
    background-size: 157px auto;

    @media (min-resolution: 144dpi),
           (min-resolution: 1.5dppx) {
             background-image: url(../img/iphone-screen-mobile@2x.png);
           }
  }

  &__description::before {
    position: absolute;
    content: '';
    height: 33px;
    width: 100%;
    top: -33px;
    left: 0;
    z-index: 5;


    background-image: linear-gradient(
      to bottom right,
      transparent 50%,
      #f2f2f2 50%
    );
  }

  &__thesis-wrapper {
    width: 275px;
    margin: 0 auto;

    text-align: center;
  }

   &__thesis-header {
     display: block;

     font-size: 18px;
     font-weight: 700;
     line-height: 1.15em;
  }

   &__thesis-info {
     margin-bottom: 32px;

     color: #283645;
     font-size: 14px;
     line-height: 24px;
  }

   &__science-block {
     display: none;
  }
}


@media @tablet-widths {
  .promo-block {
    padding: 0;


    &__header {
      width: 600px;
      padding-top: 10px;
      margin-bottom: 100px;
    }

    &__header-text {
      width: 350px;
      margin: 0 auto;

      font-size: 40px;
      line-height: 1.2em;
    }

    &__header-text:first-of-type {
      width: 600px;
      margin: 0 auto;
    }

    &__description {
      width: 100%;
      padding-top: 23px;
      padding-bottom: 6px;

      text-align: right;

      background-image: none;
    }

    &__description::before {
      height: 55px;
      top: -55px;
    }

    &__description::after {
      position: absolute;
      content: '';
      height: 500px;
      width: 300px;

      top: -69px;
      left: 40px;
      z-index: 10;

      background: url(../img/iphone-screen-tablet-3@1x.png) 0 20px no-repeat;
      background-size: 268px auto;

      @media (min-resolution: 144dpi),
             (min-resolution: 1.5dppx) {
               background-image: url(../img/iphone-screen-tablet-3@2x.png);
             }
    }

    &__thesis-wrapper {
      width: 310px;
      margin: 0;
      margin-left: 350px;

      text-align: left;
    }

    &__thesis-header {
      line-height: 1.1em;
    }

    &__thesis-info {
      margin-bottom: 37px;
    }

    &__science-block {
      .clearfix;
      display: block;
      padding-bottom: 20px;
      margin-bottom: -20px;

      background: url(../img/24-hours-tablet.png) no-repeat 40px 58px;
    }

    &__science-block-wrapper {
      float: right;
      width: 310px;
      margin-right: 40px;
      padding: 0;
      padding-top: 95px;
    }

    &__science-header {
      display: block;
      width: 170px;
      margin-bottom: -4px;

      text-align: left;
      font-size: 30px;
      font-weight: bold;
      line-height: 36px;
    }

    &__science-header span {
      display: block;
    }

    &__science-info {
      width: 300px;
      padding: 0;
      margin-bottom: 10px;

      color: #283645;
      font-size: 14px;
      line-height: 24px;
      text-align: left;
    }

    &__science-info span {
      display: block;
      width: 280px;
    }


    &__science-ref {
      display: block;
      color: #dd5d80;

      &:hover {
        text-decoration: none;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}


@media @desktop-widths {
  .promo-block {
    min-height: 1250px;


    &__header {
      width: 750px;
      margin: 0 auto;
      margin-bottom: 169px;
      padding: 0;
      padding-top: 68px;
    }

    &__header-text {
      width: 420px;

      line-height: 60px;
      font-size: 50px;
    }

    &__header-text:first-of-type {
      width: 750px;
    }

    &__description {
      padding: 0;
      width: 1200px;
      margin: 0 auto;

      text-align: center;
    }

    &__description::before {
      height: 92px;
      top: -92px;
    }

    &__description::after {
      display: none;
    }

    &__thesis-wrapper {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 240px;

      margin: 0;
      margin-right: 76px;
      padding: 0;
      padding-top: 263px;

      text-align: center;
    }

    &__thesis-wrapper:last-of-type {
      margin-right: 0;
    }

    &__thesis-wrapper::before {
      position: absolute;
      content: '';
      height: 355px;
      width: 300px;

      top: -95px;
      left: -26px;
      z-index: 15;

      background: url(../img/iphone-screen-desktop-1@1x.png) no-repeat;
      background-size: 292px auto;

      @media (min-resolution: 144dpi),
             (min-resolution: 1.5dppx) {
               background-image: url(../img/iphone-screen-desktop-1@2x.png);
             }
    }

    &__thesis-wrapper:nth-of-type(2)::before {
      background: url(../img/iphone-screen-desktop-2@1x.png) 3px 0 no-repeat;
      background-size: 292px auto;

      @media (min-resolution: 144dpi),
             (min-resolution: 1.5dppx) {
               background-image: url(../img/iphone-screen-desktop-2@2x.png);
             }
    }

    &__thesis-wrapper:nth-of-type(3)::before {
      background: url(../img/iphone-screen-desktop-3@1x.png) 4px 0 no-repeat;
      background-size: 292px auto;

      @media (min-resolution: 144dpi),
             (min-resolution: 1.5dppx) {
               background-image: url(../img/iphone-screen-desktop-3@2x.png);
             }
    }

    &__thesis-header {
      margin: 0;
      padding: 0;
      padding-bottom: 5px;

      font-size: 30px;
      line-height: 1em;
      font-weight: 700;
    }

    &__thesis-info {
      font-size: 18px;
      line-height: 30px;
    }

    &__science-block {
      display: block;

      width: 1062px;
      margin: 0 auto;
      padding-top: 25px;
      padding-right: 138px;
      padding-bottom: 86px;

      background-color: #f2f2f2;
      background: url(../img/24-hours-desktop.png) no-repeat 131px 30px #f2f2f2;
    }

    &__science-block-wrapper {
      float: right;

      width: 525px;
      text-align: left;
    }

    &__science-header {
      width: 300px;
      padding-bottom: 8px;
    }

    &__science-header span {
      display: inline;
    }

    &__science-info {
      width: 525px;
      margin-bottom: 29px;

      font-size: 18px;
      line-height: 30px;
    }

    &__science-info span {
      display: inline;
    }
  }
}
