.switches{
  outline: 2px solid green;
}


.switches {
  text-align: center;
}

@media @tablet-widths {
  .switches--prices {
    display: none;
  }
}

@media @desktop-widths {
 .switches {
   display: none;
 }
}
